<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span>AV Transport Ltd</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">

            <div class="d-flex ms-auto align-items-center">
                <a  class="nav-link" href="/driver/profile">
                    <i class="pi pi-user" style="font-size: 1.5rem"></i>
                </a>
            </div>
        </div>
    </div>
</nav>


<p-table 
  [value]="trips" 
  dataKey="tripId" 
  scrollHeight="400px" 
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  selectionMode="single" 
  (onRowSelect)="retrieveLocations($event);"
  [(selection)]="selectedTrip"
  [rows]="10"
  [paginator]="true"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Trip Id</th>
            <th>Trip Date</th>
            <th>Car Number</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity let-editing="editing">
        <tr [pSelectableRow]="entity">
            <td>{{ entity.tripId }}</td>
            <td>{{ entity.tripDate }}</td>
            <td>{{ entity.carNumber }}</td>
        </tr>
    </ng-template>
</p-table>

<ng-container>
    <div id="map" style="height: 500px;"></div>
</ng-container>
