<div class="main container-fluid py-4">
  <div class="row align-items-start">
    
    <!-- Map Section (Left) -->
    <div class="col-lg-4 col-md-12 mb-4 align-self-start">
      <div class="card shadow-sm border-0">
        <div class="card-body p-0">
          <div id="map" class="map-container" style="height: 500px;"></div>
        </div>
      </div>
    </div>

    <!-- Date and Time Selection (Wider Center) -->
    <div class="col-lg-5 col-md-6 mb-4 align-self-start">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h4 class="card-title text-center">Select Date & Time</h4>
          <p-calendar 
            [(ngModel)]="selectedDates" 
            [disabledDates]="bookedDates"
            (onSelect)="onDateSelect($event)"
            selectionMode="range" 
            [inline]="true" 
            [showTime]="true" 
            hourFormat="24" 
            [minDate]="today"
            [timeOnly]="false"
            dateFormat="dd/MM/yyyy"
            [showWeek]="true">
          </p-calendar>
        </div>
      </div>
    </div>

    <!-- Price and Location Information (Right) -->
    <div class="col-lg-3 col-md-6 mb-4 align-self-start">
      <div class="card bg-dark text-white shadow-sm border-0">
        <div class="card-body">
          <h4>Price Information</h4>
          <p>Price per KM: {{vehicle?.tripPrice}}</p>
          <p>Total Price: <strong id="total-price">{{calculateCost()| number:'1.2-2' | currency: 'Rs '}}</strong></p>
          
          <h4>Locations</h4>
          <p>Pickup Location: <strong id="pickup-location">{{startLocation}}</strong></p>
          <p>Last Dropoff Location: <strong id="dropoff-location">{{endLocation}}</strong></p>
          <p-dropdown 
          [options]="paymentMethodOptions" 
          [(ngModel)]="selectedPaymentId" 
          optionLabel="name" 
          optionValue="value"
          placeholder="Select a Payment Method" />
       
          <div class="d-flex flex-column mt-3">
            <button class="btn btn-success mb-2" (click)="calculateDistance()">Calculate Distance</button>
            <button class="btn btn-success mb-2" (click)="submitBooking()">Submit</button>
            <button class="btn btn-primary" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
