<h2 style="color: brown;">Driver Table</h2>
<p-table [value]="drivers" dataKey="driverId" scrollHeight="400px" [tableStyle]="{ 'min-width': '50rem' }"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[showCurrentPageReport]="true"
[rows]="10"
[paginator]="true"
[globalFilterFields]="['driverName']"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Driver Name </th>
            <th>Driver Phone Number</th>
            <th>Driver License Number</th>
            <th>driver Phone</th>
            <th>status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-driver let-editing="editing">
        <tr>
            <td>{{ driver.driverName }}</td>
            <td>{{ driver.driverName }}</td>
            <td>{{ driver.driverPhoneNumber }}</td>
            <td>{{ driver.driverLicenseNumber }}</td>
            <td [pEditableColumn]="driver.latestStatusName" pEditableColumnField="latestStatusName">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown 
                        (onChange)="updateStatus(driver.driverId)"
                        [options]="statusesOptions" 
                        [(ngModel)]="selectedStatus"
                        optionLabel="name" 
                        optionValue="id"
                        placeholder="Select Status" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ driver.latestStatusName }} <span class="pi pi-info-circle"></span>
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>