<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span>AV Transport Ltd</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/vehicles">Vehicles</a></li>
                <li class="nav-item"><a class="nav-link" *ngIf="!loggedIn" href="/driver/login">Driver Section</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contacts</a></li>
            </ul>
            <div class="d-flex ms-auto align-items-center" *ngIf="loggedIn && userType =='customer'"> <!--only if user is login and customer type -->
                <a class="nav-link" href="/cart">
                    <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
                </a>

                <span  style="background-color: white; margin: 0 15px; width: 5px; height: 40px;"></span>

                <a class="nav-link" href="/profile">
                    <i class="pi pi-user" style="font-size: 1.5rem"></i>
                </a>
                <a class="btn btn-primary shadow" *ngIf="!loggedIn" role="button" href="login">Login</a>
            </div>
        </div>
    </div>
</nav>
