<section class="container" style="height: 75vh; color:rgb(110, 122, 189);">
    <h2 style="margin-top: 10px;">Car rentals and Trip bookings table</h2>
    <div class="table-responsive">
        <p-table [value]="bookings" [scrollable]="true" scrollHeight="400px"  
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [paginator]="true"
            [showCurrentPageReport]="true"
            [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th>Booking Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Payment</th>
                    <th>Status</th>
                    <th>Payment Status</th>
                    <th>Payment Method</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-booking>
                <tr>
                    <td>{{ booking.bookingType }}</td>
                    <td>{{ booking.startDate | date: "dd/MM/yyyy" }}</td>
                    <td>{{ booking.endDate | date: "dd/MM/yyyy" }}</td>
                    <td>{{ booking.totalPayment | currency: "Rs " }}</td>
                    <td>{{ booking.latestStatusCode }}</td>
                    <td>{{ booking.latestPaymentStatusCode }}</td>
                    <td>{{ booking.paymentMethod }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>
