<app-admin-header></app-admin-header>

<div id="wrapper" style="background-color: beige;">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" style="margin-top: 30px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4" >
                        <div class="card shadow border-start-primary py-2" style="background-color: rgba(30, 166, 201, 0.692);">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Trips and Rentals (monthly)</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{tripsAndRental}}</span></div>
                                    </div>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4" >
                        <div class="card shadow border-start-primary py-2" style="background-color: rgba(30, 166, 201, 0.692);">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Earnings (monthly)</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{moneyThisMonth | currency: "Rs "}}</span></div>
                                    </div>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-start-success py-2" style="background-color: rgba(30, 166, 201, 0.692);">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Amount of drivers</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{driversCount}}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-start-warning py-2" style="background-color: rgba(30, 166, 201, 0.692);">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Amount of Vehicles</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{vehiclesCount}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div style="width: 70%; height: auto; margin: 10px auto;">
                        <router-outlet></router-outlet>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>