<section class="bg-dark py-5">
  <div class="container">
    <!-- Booking Form -->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="booking-form mt-5 p-4 bg-light rounded">
          <h2 class="text-dark">Book a Car</h2>
          <form [formGroup]="vehicleFormGroup">
            <div class="row g-3">
              <!-- Car Type -->
              <div class="col-md-4">
                <p-dropdown formControlName="type" [options]="vehicleType" placeholder="Select your vehicle Type"></p-dropdown>
              </div>
              <div class="col-md-4">
                <p-dropdown formControlName="model" [options]="vehicleModel" placeholder="Select your vehicle model"></p-dropdown>
              </div>
              <div class="col-md-4">
                <p-dropdown formControlName="make" [options]="vehicleMake" placeholder="Select your vehicle make"></p-dropdown>
              </div>
            </div>
            <!-- Search Button -->
            <div class="d-flex justify-content-between mt-4">
              <button type="submit" (click)="filter()" class="btn btn-primary w-100 me-2" style="background-color: cornflowerblue;">Search</button>
              <button (click)="reset()" class="btn btn-danger w-100" style="background-color: red;">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br />
    <!-- Vehicle Cards -->
    <div class="row gy-4">
      <ng-container *ngFor="let vehicle of paginatedVehicles">
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img style="height: 300px; object-fit:contain;" [src]="imageUrl + vehicle.imagePath" class="card-img-top" alt="{{ vehicle.make }}" (error)="setDefaultImage($event)" />
            <div class="card-body">
              <div class="text-center">
                <h4 class="card-title">{{ vehicle.model }} - {{ vehicle.make }} - {{ vehicle.year }}</h4>
                <p class="card-text">Location: {{ vehicle.currentLocation }}</p>
                <p class="card-text">Daily Price: Rs {{ vehicle.dailyPrice }}</p>
                <p class="card-text">Seats Number: {{ vehicle.seats }}</p>
                <p class="card-text">Status: {{ vehicle.vehicleStatusCode }}</p>
                <button class="btn btn-primary" style="margin-right: 10px; background-color: aquamarine;" (click)="bookVehicle(vehicle.id)">Rent car</button>
                <button class="btn btn-primary" (click)="rentVehicle(vehicle.id)">Book a trip</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <br />
    <!-- Paginator -->
    <p-paginator [rows]="itemsPerPage" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" class="d-flex justify-content-center"></p-paginator>
  </div>
</section>
