<div class="container mt-4" *ngIf="vehicle" style="height: 100vh;">
  <div class="row">
    <!-- Car Info Section -->
    <div class="col-md-4">
      <div class="car-info-container">
        <div class="car-image mb-3">
          <img [src]="imageUrl+vehicle.imagePath" alt="Car Image" class="img-fluid" />
        </div>
        <ul class="car-details list-unstyled">
          <li><strong>Make:</strong> {{ vehicle.make }}</li>
          <li><strong>Model:</strong> {{ vehicle.model }}</li>
          <li><strong>Year:</strong> {{ vehicle.year }}</li>
          <li><strong>Seats:</strong> {{ vehicle.seats }}</li>
          <li><strong>Price per day:</strong> {{ vehicle.dailyPrice | currency: 'Rs ' }}</li>
        </ul>
      </div>
      <p-dropdown 
      [options]="paymentMethodOptions" 
      [(ngModel)]="selectedPaymentId" 
      optionLabel="name" 
      optionValue="value"
      placeholder="Select a Payment Method" />
    </div>

    <!-- Calendar Section -->
    <div class="col-md-8">
      <p-calendar 
        class="w-100" 
        [(ngModel)]="selectedDates" 
        [disabledDates]="bookedDates"
        selectionMode="range"
        (onSelect)="onDateSelect($event)" 
        [inline]="true" 
        [minDate]="today"
        [showWeek]="true">
      </p-calendar>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="info-section">
        <div *ngIf="selectedDates && getNumberOfDays(selectedDates[0], selectedDates[1]) - 1 >= 1" class="info">
          <p><strong>Start Date:</strong> {{ selectedDates[0] | date:'dd/MM/yyyy' }} - 09:00 AM</p>
          <p><strong>End Date:</strong> {{ selectedDates[1] | date:'dd/MM/yyyy' }} - 09:00 AM</p>
          <p><strong>Number of Days:</strong> {{ getNumberOfDays(selectedDates[0], selectedDates[1]) - 1 }}</p>
          <p><strong>Total Price:</strong> {{ getTotalPrice(getNumberOfDays(selectedDates[0], selectedDates[1]) - 1) | currency: 'Rs ' }}</p>
          <button (click)="bookVehicle()" class="btn btn-primary">Book Now</button>
        </div>
        <div *ngIf="!selectedDates || getNumberOfDays(selectedDates[0], selectedDates[1]) - 1 < 1" class="info">
          <p>Please select a range of dates.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog 
  header="Enter Driving License Number" 
  [(visible)]="display" 
  [modal]="true" 
  [closable]="false" 
  [style]="{width: '350px'}">

  <div class="p-fluid">
    <div class="p-field">
      <label for="drivingLicenseNumber">Driving License Number</label>
      <input id="drivingLicenseNumber" type="text" [(ngModel)]="drivingLicense" pInputText />
    </div>
  </div>

  <p-footer>
    <button (click)="submit()" pButton type="button" label="Submit"></button>
  </p-footer>
</p-dialog>
