.calendar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}

.car-info-container {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
  background-color: #001f3f; /* Dark blue */
  color: #ffffff; /* White text for contrast */
  border-radius: 8px;
  padding: 15px;
}

.car-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.car-details {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
}

.car-details li {
  margin: 5px 0;
}

.info-section {
  flex: 2;
  background-color: #000000; /* Black */
  color: #ffffff; /* White text for contrast */
  padding: 15px;
  height: 200px;
  border-radius: 8px;
}

.info p {
  margin: 5px 0;
  font-size: 14px;
}

.info strong {
  color: #ffffff;
}

:host ::ng-deep .p-dropdown{
  margin: 15px;
}

:host ::ng-deep .p-dialog {
  font-family: Arial, sans-serif;
}

:host ::ng-deep .p-field label {
  font-weight: bold;
}